
        body {
            font-family: 'Arial', sans-serif;
            background-color: black;
            color: #fff;
            margin: 0;
            padding: 0;
            text-align: center;
                text-color: white;
        }

        header, nav, section, footer {
            margin-bottom: 20px;
            background-color: #333;
            padding: 10px;
        }

        nav ul {
            list-style: none;
            margin: 0;
            padding: 0;
        }

        nav ul li {
            display: inline;
            margin-right: 10px;
        }

        nav a {
            text-decoration: none;
            color: #fff;
        }

        .container {
            width: 80%;
            margin: auto;
        }

        .hero {
            text-align: center;
            margin-bottom: 30px;
            padding: 20px;
        }

        .gallery img {
            width: 30%;
            margin: 1.5%;
            float: left;
        }

        footer {
            text-align: center;
            padding: 10px;
            background-color: #333;
        }
.row {
  display: flex;
}

.column {
  flex: 50%;
  padding: 5px;
}
